* {
    box-sizing: border-box;
}

:root {
    --body-text-color: #0c0c0c;
}

body {
    display: grid;
    grid-template-columns: 7fr 3fr;
    margin: 80px 100px 80px 120px;
    gap: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--body-text-color)
}

/******************************************************
 *                 Structure styles
 ******************************************************/

.main-container {
    max-width: 100%;
}

.lang-button {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 1em 1.5em;
    margin: 10px 1em 10px 1em;
    display: block;
    text-align: center;
}

.lang-button:hover {
    border: 1px solid #d2d2d2;
    background: #f9f9f9;
    transition: background-color 0.05s ease-in-out;
}

.lang-button .name {
    text-align: left;
    font-size: large;
    width: 100%;
}

.lang-button .lang-description {
    margin-top: 10px;
    font-size: small;
}

.lang-description {
    text-align: justify;
    color: var(--body-text-color);
}

.sidebar-container {
    width: 100%;
    padding-top: 30px;
    margin-top: -30px;
    height: min-content;
    position: sticky;
    top: 0;
}

.sidebar-box {
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.sidebar-box .title {
    color: #959595;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 1.02rem;
    padding-left: 8px;
}

.sidebar-box .content {
    padding: 10px 14px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
}

.stacked>.content {
    padding: 0;
    display: grid;
    grid-template-rows: repeat(1fr);
}

.stacked>.content>* {
    padding: 10px 14px;
}

.stacked>.content> :first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.stacked>.content> :last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.stacked>.content> :not(:first-child) {
    border-top: 1px solid #e6e6e6;
}

.sidebar-box .action {
    text-align: center;
    letter-spacing: 0.06em;
}

.sidebar-box .small {
    font-size: 0.85rem;
    padding: 8px 10px;
}

.button-link, .button-link:visited {
    cursor: pointer;
    color: inherit;
}

.button-link:hover {
    background: #f2f2f2;
}

.sidebar-box ul {
    margin: 0;
    padding: 4px 0px;
    list-style-type: none;
}

.sidebar-box ul:last-child {
    padding-bottom: 0;
}

.sidebar-box ul li::before {
    content: "→";
    margin-right: .5rem;
}

.header {
    font-size: 1.4rem;
    /* font-weight: bold; */
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
    padding-top: 30px;
    margin-top: -30px;
    padding-bottom: 20px;
    width: 100%;
}

.flashes {
    margin-top: 25px;
}

.flash {
    width: 100%;
    margin: -22px 0px 30px 0px;
    padding: 12px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
}

.flash span.float-right {
    margin-top: 1px;
    cursor: pointer;
}

.success {
    border: 1px solid rgb(180, 227, 180);
    background-color: rgb(210, 240, 210);
    color: rgb(15, 94, 15);
}

.warning {
    border: 1px solid #ffeeba;
    background-color: #fff3cd;
    color: #856404;
}


/******************************************************
 *                   Table styles
 ******************************************************/

table {
    border-spacing: 0px;
}

table tr:hover {
    background-color: #f2f2f2;
}

table tr:last-child td {
    border-bottom: 1px solid #d2d2d2;
}

table th {
    text-align: start;
    background: #f2f2f2;
    padding: 12px 12px 12px 12px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

table td {
    padding: 6px 0px 6px 6px;
    border-bottom: 1px solid #f2f2f2;
}

table tr:first-child td {
    padding-top: 8px;
}

table.no-head tr:first-child td {
    border-top: 1px solid #f2f2f2;
}

/******************************************************
 *               Form and input styles
 ******************************************************/

input {
    padding: 6px 10px;
    margin: 4px 0;
    font-size: 0.9rem;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    font-family: inherit;
}

input.small {
    padding: 3px 5px;
}

textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    font-size: 95%;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    font-family: inherit;
    line-height: 1.4em;
}

textarea[name=description] {
    resize: vertical;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 4px 4px;
    padding: 6px 10px;
    padding-right: 25px;
    font-size: 0.9rem;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    font-family: inherit;
}

select:not([multiple]) {
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: top 50% right 0px;
}

select.small {
    padding: 3px 5px;
    padding-right: 25px;
}

input[type=text] {
    width: 100%;
}

input[type=text]:hover {
    border: 1px solid darkgray;
}

input[type=submit] {
    padding: 6px 14px;
    margin: 4px;
    font-size: 0.9rem;
    -webkit-transition: background-color 0.05s ease-in-out;
    transition: background-color 0.05s ease-in-out;
}

input[type=submit].small {
    padding: 2px 8px;
}

input[type=button] {
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #e3e3e3;
    border: 1px solid #d9d9d9;
}

/******************************************************
 *                 Edit page styles
 ******************************************************/

.form-body {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 4fr;
}

.form-body input, .form-body textarea, .form-body select {
    margin-top: 0;
    margin-bottom: 6px;
    margin-left: 0;
}

.form-label span {
    display: inline-block;
    margin-top: .5rem;
    padding-right: .1rem;
    text-align: justify;
}

.class-pos-form {
    display: grid;
    gap: 0 .5rem;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    align-content: stretch;
}

.class-pos-form .add-row {
    grid-column-start: 1;
    grid-column-end: -1;
}

/******************************************************
 *                  View page styles
 ******************************************************/

table#dictionary {
    width: 100%;
}

.pronunciation {
    font-family: "Charis SIL";
}

/******************************************************
 *              Sound change set styles
 ******************************************************/

.sc-set-link {
    display: grid;
    column-gap: .5rem;
    grid-template-columns: 1fr auto;
}

.sc-set-link :first-child {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sc-set-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 10px;
}

.sc-set-box {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
}

table.sc-ruleset {
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}

table.sc-ruleset tbody:before {
    content: none;
}

table.sc-ruleset tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

table.sc-ruleset tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

table.sc-ruleset tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table.sc-ruleset tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table.sc-ruleset td {
    border-bottom: 1px solid #f7f7f7;
}

table.sc-ruleset tr:last-child td {
    border-bottom: none;
}

/* .sc-set-box:hover {
    border: 1px solid #d2d2d2;
    background: #f9f9f9;
    transition: background-color 0.05s ease-in-out;
} */

td.rule {
    width: 100%;
    font-family: monospace;
    font-size: .9rem;
    overflow-wrap: anywhere;
    padding: 5px 10px;
}

td.num {
    font-size: small;
    text-align: center;
    padding: 5px;
    color: #959595;
    background: #f9f9f9;
    border-right: 1px solid #f2f2f2;
}

#test-set-input {
    resize: vertical;
}

#test-set-output {
    margin: 45px 0px 10px 10px;
    line-height: 1.2em;
}

#test-set-output td {
    font-family: monospace;
    font-size: .9rem;
    overflow-wrap: anywhere;
}

#test-set-output td:last-child {
    width: 100%;
}

/******************************************************
 *                   Generic styles
 ******************************************************/

p {
    margin: 20px 0px;
    line-height: 1.5;
    text-indent: 1.5em;
    text-align: justify;
}

a {
    text-decoration: none;
    color: #bf611a;
}

hr {
    border: 0.5px solid #e6e6e6;
    clear: both;
    display: block;
    width: 100%;
    height: 1px;
}

.small {
    font-size: 0.9rem;
}

.text-muted {
    color: #959595;
}

.sticky {
    position: sticky;
    top: 0;
}

.float-right {
    float: right;
}

.hidden {
    display: none;
}