{% extends 'base.html' %}

{% block title %}Add word to {{ lang.name }}{% endblock %}

{% block body %}
<form action="{{ url_for('add_word_post', code=lang.code) }}" method="POST">

  <div class="row">
    <div class="col form-label">Word in {{ lang.name }}</div>
    <div class="col"><input required type="text" name="nat" spellcheck="false"></div>
  </div>

  <div class="row">
    <div class="col form-label">English definitions<br><span class="small text-muted">Multiple definitions can be given
        for a single word to indicate polysemy. It is recommended to put sufficiently distinct meanings in separate
        definitions.</span></div>
    <ol class="col definitions">
      <li class="entry row">
        <div class="col-{% if lang.use_classes %}5{% else %}10{% endif %}"><input type="text" name="en-0" placeholder="English translation"></div>
        <div class="col-2">
          <select required class="col" name="pos-0">{% for p in pos %}
            <option value="{{ p.abbr }}">{{ p.long }}</option>
            {% endfor %}</select>
        </div>
        {% if lang.use_classes %}
        <div class="col-5 dropdown multiple-select">
          <span id="classlist-0" class="text-muted small classlist">No classes selected. Hover to show class dropdown.</span>
          <div class="dropdown-content">{% for c in classes %}
            <input type="checkbox" id="checkbox_{{ c.abbr }}-0" class="class-checkbox" name="class_{{ c.abbr }}-0"
              onclick="update_classlist(this);">
            <label class="checkbox-label" for="checkbox_{{ c.abbr }}-0">{{ c.long }}</label><br>
            {% endfor %}</div>
        </div>
        {% endif %}
        <div class="col">
          <textarea name="notes-0" class="word-notes" rows=1 placeholder="Notes"></textarea>
        </div>
      </li>

      <li class="entry" style="list-style-type:none;">
        <input class="small add-row" type="button" onclick="add_row(this);" value="+">
      </li>
    </ol>
  </div>

  <input id="counter" type="hidden" name="counter" value="1">
  <input class="float-right" type="submit" value="Save">
</form>
{% endblock %}

{% block nav %}
<a href="{{ url_for('view_lang', code=lang.code) }}">🔠</a>
{% endblock %}

{% block script %}
<script>
  function add_row(el) {
    var prev = el.parentNode;
    // find the previous li node, skipping text nodes
    do prev = prev.previousSibling; while (prev && prev.nodeType !== 1);
    var new_li = prev.cloneNode(true);

    new_li = prev.parentNode.insertBefore(new_li, prev.nextSibling);

    var inputs = new_li.querySelectorAll('input, select, textarea');
    for (var i = 0; i < inputs.length; i++) {
      console.log(inputs[i]);
      inputs[i].value = "";

      // increment field index
      increment_suffix(inputs[i], 'name');

      // update checkbox id
      if (inputs[i].type == 'checkbox') {
        inputs[i].checked = false;
        increment_suffix(inputs[i], 'id');
      }
    }

    var labels = new_li.querySelectorAll('label');
    for (var i = 0; i < labels.length; i++) {
      // increment checkbox label number
      increment_suffix(labels[i], 'for');
    }

    // update classlist id
    var list = new_li.querySelector('[id*=classlist]');
    increment_suffix(list, 'id');
    list.innerHTML = "No classes selected. Hover to show class dropdown.";
    list.classList = "text-muted small classlist";

    var counter = document.querySelector('#counter');
    counter.value = parseInt(counter.value) + 1;
  }

  function update_classlist(el) {
    var num = el.name.split('-')[1];
    var checkboxes = document.querySelectorAll('input[type=checkbox][name$="-' + num + '"].class-checkbox:checked');
    var clist = document.querySelector('#classlist-' + num);

    if (checkboxes.length > 0) {
      var s = [];
      for (var i = 0; i < checkboxes.length; i++) {
        s.push(get_checkbox_label(checkboxes[i]));
      }
      clist.innerHTML = s.join(', ');
      clist.classList = "small classlist";
    } else {
      clist.innerHTML = "No classes selected. Hover to show class dropdown.";
      clist.classList = "text-muted small classlist";
    }
  }

  function get_checkbox_label(checkbox) {
    var id = checkbox.id;
    return document.querySelector('label[for="' + id + '"]').innerHTML;
  }
</script>
{% endblock %}