{% extends 'base.html' %}

{% block title %}New language{% endblock %}

{% block body %}

<h2>Add new language</h2>

<form action="{{ url_for('add_lang_post') }}" method="POST" id="form">
  <input type="text" name="code" placeholder="Language code" id="lang-code" required>
  <input type="text" name="name" placeholder="Language name">
  <input class="float-right" type="submit" value="Save" id="submit">
</form>

{% endblock %}

{% block script %}
<script>
  const form = document.getElementById('form');
  const code = document.getElementById('lang-code');
  const submit = document.getElementById('submit');

  code.addEventListener('keyup', function (event) {
    var is_valid = /^[a-zA-Z0-9._]{1,255}$/.test(code.value);
    submit.disabled = !is_valid;
  });
</script>
{% endblock %}