{% extends 'base.html' %}

{% block title %}{{ lang.name }} | Delete lang{% endblock %}

{% block body %}

<h3>Are you sure you want to delete {{ lang.name }}?</h3>

<p>
  {{ lang.name }} will be permanently deleted, along with every word associated with it ({{ lang.words|length }} in total).
</p>

<form class="row" action="{{ url_for('delete_lang', code=lang.code) }}" method="POST">
  <input class="col big delete" type="submit" value="Delete">
  <br><br><br><br>
  <input class="col big" type="button" value="Cancel" onclick="cancel();">
</form>

{% endblock %}

{% block nav %}
{% endblock %}

{% block script %}
<script>
  function cancel() {
    location.href = "{{ url_for('view_lang', code=lang.code) }}";
  }
</script>
{% endblock %}