{% extends 'base.html' %}

{% block title %}Delete {{ word.nat }} | Delete word{% endblock %}

{% block body %}

<h3>Are you sure you want to delete this word?</h3>

<p>
  {{ word.lang.name }} &mdash; <i>{{ word.nat }}</i> {% for d in word.definitions %}{{ d.en }} <span class="small text-muted">({{
    d.pos }}{% if d.classes %}; {{ d.classes|split(',')|join(', ') }}{% endif %})</span>; {% endfor %}
</p>

<form class="row" action="{{ url_for('delete_word', id=word.id.hex) }}" method="POST">
  <input class="col big delete" type="submit" value="Delete">
  <br><br><br><br>
  <input class="col big" type="button" value="Cancel" onclick="cancel();">
</form>

{% endblock %}

{% block nav %}
{% endblock %}

{% block script %}
<script>
  function cancel() {
    location.href = "{{ url_for('view_word', id=word.id.hex) }}";
  }
</script>
{% endblock %}