{% extends 'base.html' %}

{% block title %}{{ lang.name }} language{% endblock %}

{% block head %}
<style>
  table#dictionary th.sticky {
    /* this space allows for the lang page header */
    top: 87px;
  }

  form#search-bar {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    margin: 20px 0 10px 0;
  }

  #search-bar-select {
    white-space: nowrap;
    margin-left: 8px;
  }
</style>
{% endblock %}

{% block body %}

<div class="sticky header">{{ lang.name }}</div>

<div class="user-text">
  {{ (lang.description or 'No description found.')|markdown }}
</div>

<hr>

<form id="search-bar" action="{{ url_for('view_lang', code=lang.code) }}" method="GET">
  <div>{% set query = request.args.get('q') %}
    <input class="small" type="text" name="q" placeholder="Search..." {% if query %} value="{{ query }}" {% endif %}>
  </div>
  <div id="search-bar-select" class="small">
    <span>Sort by</span>
    <select name="sort" class="small">{% set sort = request.args.get('sort') %}
      <option value="nat" {% if sort=='nat' %} selected{% endif %}>{{ lang.name }}</option>
      <option value="en" {% if sort=='en' %} selected{% endif %}>English</option>
      <option value="pos" {% if sort=='pos' %} selected{% endif %}>Part of speech</option>{% if lang.use_classes %}
      <option value="class" {% if sort=='class' %} selected{% endif %}>Class</option>
      {% endif %}
    </select>
  </div>
  <div><input class="small" type="submit" value="🔎"></div>
</form>

<table id="dictionary">
  <thead>
    <th class="sticky">{{ lang.name or 'Unnamed language' }}</th>
    <th class="sticky">English</th>
  </thead>
  <tbody>{% for word in words %}
    <tr class="clickable-row{% if word.autoderived %} autoderived{% endif %}"
      href="{{ url_for( 'view_word', id=word.id.hex) }} " onclick="linkToWord(this); ">
      <td>{{ word.nat }}</td>{% set too_long = word.definitions|map(attribute='en')|join(';')|length>50 %}
      <td {% if too_long %}class="small-text" {% endif %}>{% for d in word.definitions %}
        {{ d.en }} <span class="small text-muted ">({{ d.pos }}{% if d.classes %};
          {{ d.classes|split('\n')|join(', ') }}{% endif %})</span>{{ "; " if not loop.last }}{% endfor %}
      </td>
    </tr>{% endfor %}
  </tbody>
</table>

{% endblock %}

{% block sidebar %}{% if lang.parent or lang.daughters %}
<div class="sidebar-box">
  <div class="title">Genetic relationships</div>
  <div class="content">{% if lang.parent %}
    {{ lang.name }} is a daughter of <a
      href="{{ url_for('view_lang', code=lang.parent.code) }}">{{lang.parent.name }}</a>.<br>
    {% endif %}{% if lang.daughters %}
    {{ lang.name }} has {{ lang.daughters|length }} daughter{{ lang.daughters|length|pluralize }}
    <ul>{% for d in lang.daughters %}
      <li><a href="{{ url_for('view_lang', code=d.code) }}">{{ d.name }}</a></li>
      {% endfor %}</ul>{% endif %}
  </div>
</div>{% endif %}

<div class="sidebar-box sc-sets stacked">
  <div class="title">Sound change sets</div>
  <div class="content">{% for set in (lang.sc_sets + lang.arriving_sc_sets) %}
    <a class="button-link" href="{{ url_for('view_set', id=set.id.hex) }}">{{ set.name }}
      <span class="float-right text-muted">{{ set.count_rules() }} rule{{ set.count_rules()|pluralize }}</span>
    </a>{% endfor %}
  </div>
</div>

<div class="sidebar-box stacked">
  <div class="title">Actions</div>
  <div class="content">
    <a class="button-link action" href="{{ url_for('edit_lang', code=lang.code) }}">Edit information</a>
    <a class="button-link action" href="{{ url_for('add_word_get', code=lang.code) }}">Add word</a>
    <a class="button-link action" href="{{ url_for('add_set', code=lang.code) }}">Add sound change set</a>
    <a class="button-link action" href="{{ url_for('home') }}">Back to main list</a>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  if ((window.location.search.indexOf('q=') > -1)
    && (window.location.search.indexOf('q=&') == -1)) {
    window.location.hash = "dictionary ";
  }

  function linkToWord(el) {
    location.href = el.getAttribute('href');
  }
</script>
{% endblock %}