{% extends 'base.html' %}

{% block title %}{{ word.nat }} | View word{% endblock %}

{% block body %}

<div class="word-nat">{{ word.nat }}&emsp;<span class="pronunciation text-muted">{{ word.lang.pronounce(word.nat) }}</span></div>
<div class="float-right">word in <a href="{{ url_for('view_lang', code=word.lang.code) }}">{{ word.lang.name }}</a></div><br>
{% if word.notes %}<div class="lang-description">{{ word.notes|markdown }}</div>{% endif %}
<ol class="word-defs">
  {% for d in word.definitions %}
  <li class="def"><span class="text-muted">({{ d.pos|convert_pos(word.lang) }}{% if d.classes %}; {{
      d.classes|split(',')|map('convert_class', word.lang)|join(', ') }}{% endif %})</span><span class="def">{{ d.en }}</span></li>
  {% endfor %}
</ol>

{% endblock %}

{% block nav %}
<a href="{{ url_for('view_lang', code=word.lang.code) }}">🔠</a>
<a href="{{ url_for('edit_word', id=word.id.hex) }}">✏️</a>
<br><br>
<a href="{{ url_for('delete_word', id=word.id.hex) }}">🗑</a>
{% endblock %}