{% extends 'base.html' %}

{% block title %}{{ lang.name }} settings{% endblock %}

{% block body %}
<form action="{{ url_for('save_lang', code=lang.code) }}" method="POST">
  <div class="form-body">
  <div class="form-label">Language name</div>
  <div><input type="text" name="name" value="{{ lang.name }}"></div>

  <!-- <hr> -->

  <div class="form-label">Description<br>
    <span class="small text-muted">Language descriptions support markdown.</span></div>
  <div>
    <textarea name="description" rows=8>{{ lang.description }}</textarea>
  </div>

  <!-- <hr> -->

  <div class="form-label">Parent language<br></div>
  <div>
    <select name="parent">
      <option value="0" {% if lang.parent==None %}selected{% endif %}>None</option>
      {% for l in lang.get_potential_parents() %}
      <option value="{{ l.code }}" {% if lang.parent.code==l.code %}selected{% endif %}>{{ l.name }} ({{ l.code }})</option>
      {% endfor %}
    </select>
  </div>

  <!-- <hr><br> -->

  <div class="form-label">Parts of speech<br>
    <span class="small text-muted">Leave either field blank to remove the entry on saving.</span>
  </div>

  <div class="class-pos-form">
    {% if pos %}
    {% for p in pos %}
    <div class="small"><input class="small" type="text" placeholder="Name" name="pos_long-{{ loop.index-1 }}" value="{{ p.long }}"></div>
    <div class="small"><input class="small" type="text" placeholder="Abbreviation" name="pos_abbr-{{ loop.index-1 }}" value="{{ p.abbr }}"></div>
    {% endfor %}
    {% else %}
    <div class="small"><input class="small" type="text" placeholder="Name" name="pos_long-0"></div>
    <div class="small"><input class="small" type="text" placeholder="Abbreviation" name="pos_abbr-0"></div>
    {% endif %}
    <input class="small add-row" type="button" value="+" onclick="add_row(this);">
  </div>

    <div class="form-label">Use classes?</div>
    <div><input type="checkbox" name="use_classes" {% if lang.use_classes %}checked{% endif %} onclick="update_class_usage(this);"></div>

  <!-- <br> -->

    <div class="classes-sec form-label{% if not lang.use_classes %} hidden{% endif %}">Classes</div>
    <div class="classes-sec class-pos-form{% if not lang.use_classes %} hidden{% endif %}">
      {% if classes %}
      {% for c in classes %}
      <div class="small"><input class="small" type="text" placeholder="Name" name="classes_long-{{ loop.index-1 }}" value="{{ c.long }}"></div>
      <div class="small"><input class="small" type="text" placeholder="Abbreviation" name="classes_abbr-{{ loop.index-1 }}" value="{{ c.abbr }}"></div>
      {% endfor %}
      {% else %}
      <div class="small"><input class="small" type="text" placeholder="Name" name="classes_long-0"></div>
      <div class="small"><input class="small" type="text" placeholder="Abbreviation" name="classes_abbr-0"></div>
      {% endif %}
      <input class="small add-row" type="button" value="+" onclick="add_row(this);">
    </div>
  </div>

  <input class="hidden" id="submit-form" type="submit">
</form>
{% endblock %}

{% block sidebar %}
<div class="sidebar-box stacked">
  <div class="title">Actions</div>
  <div class="content">
    <label class="button-link action" for="submit-form"">Save</label>
    <a class="button-link action" onclick="cancel();">Cancel</a>
    <a class="button-link action" href="{{ url_for('delete_lang', code=lang.code) }}">Delete {{ lang.name }}</a>
  </div>
</div>
{% endblock %}

{% block nav %}
<a href="{{ url_for('view_lang', code=lang.code) }}">🔠</a>
<br><br>
<a href="{{ url_for('delete_lang', code=lang.code) }}">🗑</a>
{% endblock %}

{% block script %}
<script>
  function add_row(el) {
    var prev = el.previousElementSibling;
    var new_second = prev.cloneNode(true);

    prev = prev.previousElementSibling;
    var new_first = prev.cloneNode(true);

    new_first = el.parentNode.insertBefore(new_first, el);
    new_second = el.parentNode.insertBefore(new_second, el);

    for (x of [new_first, new_second]) {
      var inputs = x.querySelectorAll('input');
      for (var i = 0; i < inputs.length; i++) {
        inputs[i].value = "";
        increment_suffix(inputs[i], 'name');
      }
    }
  }

  function update_class_usage(el) {
    var sec = document.querySelectorAll('.classes-sec');
    if (el.checked)
      sec.forEach(x => x.classList.remove('hidden'));
    else sec.forEach(x => x.classList.add('hidden'));
  }

  function cancel() {
    location.href = "{{ url_for('view_lang', code=lang.code) }}";
  }
</script>
{% endblock %}