{% extends 'base.html' %}

{% block title %}{{ set.name }} | View set{% endblock %}

{% block body %}

<h3>{{ set.name }}{% if set.pronunciation %} for {{ set.parent_lang.name }}{% endif %}</h3>

{% if set.target_lang %}
<p class="small text-muted">
  This set derives words from <a href="{{ url_for('view_lang', code=set.parent_lang.code) }}">{{ set.parent_lang.name
    }}</a> to <a href="{{ url_for('view_lang', code=set.target_lang.code) }}">{{ set.target_lang.name }}.</a>{% if
  set.autoderive %} Auto-derivation is enabled.{% endif %}
</p>
{% endif %}

{% if set.description %}
<div class="lang-description">{{ set.description|markdown }}</div>
{% endif %}

<!-- <div class="row">
  <div class="col-6">
    <div class="form-label">Test set&emsp;
      <span class="small text-muted">Individual words on separate lines.</span></div>
    <textarea id="test-set-input" rows=5 onkeyup="start_timer()" onkeydown="clearTimeout(typing_timer);"></textarea>
  </div>
  <div class="col-6">
    <table id="test-set-output" class="sc-ruleset"></table>
  </div>
</div> -->

{% if set.changes %}
<table class="sc-ruleset">
  {% for line in set.changes.splitlines() %}
  <tr>
    <td class="num">{{ loop.index }}</td>
    <td class="rule{% if line.strip().startswith('//') %} text-muted{% endif %}">{{ line }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No rules yet.</p>
{% endif %}

{% endblock %}

{% block sidebar %}
<div class="sidebar-box stacked">
  <div class="title">Actions</div>
  <div class="content">
    <a class="button-link action" href="{{ url_for('view_lang', code=set.parent_lang.code) }}">Back to {{ set.parent_lang.name }}</a>
    <a class="button-link action" href="{{ url_for('edit_set', id=set.id.hex) }}">Edit this set</a>
    <a class="button-link action" href="{{ url_for('delete_set', id=set.id.hex) }}">Delete this set</a>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  var typing_timer;

  function start_timer() {
    clearTimeout(typing_timer);
    typing_timer = setTimeout(test_ruleset, 1000);
  }

  function test_ruleset() {
    var input = document.getElementById('test-set-input').value;
    if (input.trim().length == 0) {
      document.getElementById('test-set-output').innerText = "";
      return;
    }

    var url = 'http://' + window.location.host + encodeURI('/apply_ruleset?set_id=' + '{{ set.id }}' + '&words=' + input);

    function callback(response) {
      var in_words = input.split('\n')
      var out_words = response.split('\n')
      var response = []

      for (var i = 0; i < in_words.length; i++) {
        if (in_words[i].trim().length == 0) { continue; }
        response.push('<tr><td>' + in_words[i] + '</td><td>→</td><td>' + out_words[i] + '</td></tr>');
      }

      document.getElementById('test-set-output').innerHTML = response.join('\n');
    }

    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function () {
      if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
        callback(xmlHttp.responseText);
    }
    xmlHttp.open("GET", url, true);
    xmlHttp.send(null);
  }
</script>
{% endblock %}